/* === General setup === */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

 /* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table, label, input {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* === Header and Navigation === */

header {
  background-color: #004400;
  padding: 2rem;
}

nav {
  background-color: #ff80ff;
  display: flex;
  padding: 1rem 0;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex: 2;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav .search {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 2rem;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background-color: #333;
  border: none;
  color: white;
}

  /* || main layout */

main {
  display: flex;
  gap: 1rem;
}

article {
  flex: 5;
  background-color: #e5ffe5;
  padding: 2rem;
}

.secondary {
  flex: 2;
  background-color: #e5ffe5;
  padding: 2rem;
}

footer {
  background-color: #004400;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

/* === Table Styling === */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* === Images & Audio === */

img, audio {
  display: block;
  margin: 2rem auto;
}

audio {
  width: 500px;
}

 /* Comments styling */

.comments {
  background-color: #def;
  padding: 2rem;
  margin-top: 2rem;
}

.show-hide {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 150px;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
}

.comment-form label {
  flex: 2;
  text-align: right;
  padding-right: 1rem;
}

.comment-form input[type="text"] {
  flex: 6;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.comment-form input[type="submit"] {
  display: block;
  margin: 1rem auto;
  width: 30%;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1.6rem;
}

/* === Comment List === */

.comment-container {
  margin-top: 2rem;
  padding: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.comment-container li p:first-child {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:last-child {
  flex: 5;
}
